@tailwind base;
@tailwind components;
@tailwind utilities;

.submit-color {
    background-color: #856262;
}


.bg-form {
    background: rgb(255,255,255);
    background: linear-gradient(200deg, rgba(255,255,255,1) 48%, rgba(255,164,164,1) 48%);
}