#make-padding-button {
  padding: -10px;
}

@media screen and (max-width: 767px) {
  #body2 {
    display: flex;
  }
  #making-padding-buttom {
    position: fixed;
    width: 767px !important;
  }
  .text-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #headertext {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 40px;
    text-align: left;
    padding-top: 10%;
    width: 100%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  #headertext2 {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 40px;
    text-align: left;
    padding-top: 3%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  #regtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    top: 30vh;
    padding-top: 3%;
    font-size: 20px;
  }

  #logtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    padding-top: 1%;
    font-size: 20px;
  }

  .btn {
    padding-top: 5px;
    width: 100%;
  }
  #register {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }
  .image-container {
    display: none;
  }
  #make-padding-button #login {
    padding-top: 0;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  #make-padding-button button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  #make-padding-button button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  #make-padding-button button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .text-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #headertext {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 60px;
    text-align: left;
    padding-top: 10%;
    width: 100%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  #headertext2 {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 60px;
    text-align: left;
    padding-top: 3%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  .image-container {
    position: fixed; /* กำหนดให้รูปภาพอยู่ในตำแหน่งคงที่ */
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
  }

  #stationery_img {
    background-image: url("./ImageHome/IMG_7555.png");
    background-size: 60vh;
    width: 100%; /* กำหนดให้รูปภาพไม่เกินความกว้างของหน้าเว็บ */
    height: 100%; /* ปรับสัดส่วนความสูงตามความกว้าง */
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  #regtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    top: 30vh;
    padding-top: 3%;
    font-size: 25px;
  }

  #logtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    padding-top: 1%;
    font-size: 25px;
  }

  .btn {
    padding-top: 5px;
  }
  #register {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button #login {
    padding-top: 0;
    width: 40%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  #make-padding-button button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  #make-padding-button button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  #make-padding-button button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 1024px) {
  .text-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #headertext {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 70px;
    text-align: left;
    padding-top: 10%;
    width: 100%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  #headertext2 {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 70px;
    text-align: left;
    padding-top: 3%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  .image-container {
    position: fixed; /* กำหนดให้รูปภาพอยู่ในตำแหน่งคงที่ */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
  }

  #stationery_img {
    background-image: url("./ImageHome/IMG_7555.png");
    background-size: 70vh;
    width: 100%; /* กำหนดให้รูปภาพไม่เกินความกว้างของหน้าเว็บ */
    height: 100%; /* ปรับสัดส่วนความสูงตามความกว้าง */
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  #regtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    top: 30vh;
    padding-top: 3%;
    font-size: 25px;
  }

  #logtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    padding-top: 1%;
    font-size: 25px;
  }

  .btn {
    padding-top: 5px;
  }
  #register {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button #login {
    padding-top: 0;
    width: 30%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  #make-padding-button button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  #make-padding-button button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  #make-padding-button button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 1400px) {
  .text-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #headertext {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 70px;
    text-align: left;
    padding-top: 10%;
    width: 100%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  #headertext2 {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 70px;
    text-align: left;
    padding-top: 3%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  .image-container {
    position: fixed; /* กำหนดให้รูปภาพอยู่ในตำแหน่งคงที่ */
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
  }

  #stationery_img {
    background-image: url("./ImageHome/IMG_7555.png");
    background-size: 70vh;
    width: 100%; /* กำหนดให้รูปภาพไม่เกินความกว้างของหน้าเว็บ */
    height: 100%; /* ปรับสัดส่วนความสูงตามความกว้าง */
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  #regtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    top: 30vh;
    padding-top: 3%;
    font-size: 25px;
  }

  #logtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    padding-top: 1%;
    font-size: 25px;
  }

  .btn {
    padding-top: 5px;
  }
  #register {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button #login {
    padding-top: 0;
    width: 30%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  #make-padding-button button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  #make-padding-button button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  #make-padding-button button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 2500px) {
  .text-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #headertext {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 150px;
    text-align: left;
    padding-top: 10%;
    width: 100%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  #headertext2 {
    position: static;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 150px;
    text-align: left;
    padding-top: 5%;
    text-shadow: 2px 4px 4px rgba(29, 29, 29, 0.6);
  }

  .image-container {
    position: fixed; /* กำหนดให้รูปภาพอยู่ในตำแหน่งคงที่ */
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
  }

  #stationery_img {
    background-image: url("./ImageHome/IMG_7555.png");
    background-size: 70vh;
    width: 100%; /* กำหนดให้รูปภาพไม่เกินความกว้างของหน้าเว็บ */
    height: 100%; /* ปรับสัดส่วนความสูงตามความกว้าง */
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  #regtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    top: 30vh;
    padding-top: 3%;
    font-size: 40px;
  }

  #logtext {
    text-shadow: 1px 2px 2px rgba(29, 29, 29, 0.6);
    position: static;
    padding-top: 1%;
    font-size: 40px;
  }

  .btn {
    padding-top: 20px;
  }
  #register {
    height: 80px;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button #login {
    height: 80px;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #f7a6a6;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }

  #make-padding-button button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  #make-padding-button button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  #make-padding-button button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  #make-padding-button button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}
